<ol class="breadcrumb">
    <li class="breadcrumb item"><a href="/blogs/list">Blogs</a></li>
    <li class="breadcrumb item" active>Add</li>


</ol>

<h1 class="display-4">Add new blog</h1>
<form action="/blogs/create" method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title_content" id="" class="form-control"  value="def" >
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea type="text" name="body_content" id="" class="form-control"></textarea>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>