<h1 class="display-4">Welcome to my blogs</h1>
<p class="mb-4">This is sails js app !!</p>
<a href="/blogs/list" class="btn btn-light">View blogs</a>
<a href="/blogs/add" class="btn btn-light">Add blog</a>